<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html data-ng-app="quickAndEasyApp">
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Libraries -->
    <link rel="stylesheet" type="text/css" href="js/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome/css/font-awesome.min.css">

    <!-- My own CSSs -->
    <link rel="stylesheet" type="text/css" href="css/index.css"/>

    <title>Fácil y Rápido</title>
</head>
<body data-ng-controller="AppController" data-fae-init>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 column">

            <div class="tabbable" id="viewsTabs" data-fae-backbutton>
                <ul class="nav nav-tabs hidden">
                    <li class="active">
                        <a href="#panel-login" data-toggle="tab">LOGIN</a>
                    </li>
                    <li>
                        <a href="#panel-home" data-toggle="tab">HOME</a>
                    </li>
                    <li>
                        <a href="#panel-game" data-toggle="tab">GAME</a>
                    </li>
                    <li>
                        <a href="#panel-choose-friend" data-toggle="tab">CHOOSE-FRIEND</a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane fade in active" id="panel-login" data-ng-controller="LoginViewController">
                        <h1>{{app.name}}</h1>

                        <blockquote>
                            <p>Preguntas tan f&aacute;ciles, que no vas a parar de equivocarte!</p>
                        </blockquote>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="Iniciando sesion..."
                                    data-ng-click="onLoginButtonClick()">
                                Entrar con Facebook
                            </button>
                        </div>
                    </div>
                    <!--End of LOGIN panel-->

                    <div class="tab-pane fade" id="panel-home" data-ng-controller="HomeViewController">
                        <div class="row">
                            <div class="col-md-12 column">

                                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                data-target="#collapsableNavbar">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#">F&aacute;cil y R&aacute;pido</a>
                                        <span class="fae-user-name">{{sync.user.firstName}}</span>
                                    </div>

                                    <div class="collapse navbar-collapse" id="collapsableNavbar">
                                        <ul class="nav navbar-nav">
                                            <li class="disabled">
                                                <a href="#">Perfil</a>
                                            </li>
                                            <li class="disabled">
                                                <a href="#">Logros</a>
                                            </li>
                                            <li class="disabled">
                                                <a href="#">Configuraci&oacute;n</a>
                                            </li>
                                            <li class="disabled">
                                                <a href="#">Cerrar sesi&oacute;n</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>

                                <div class="row">
                                    <div class="col-md-12 column">
                                        <h3>Puntos: {{sync.user.score.personal}}</h3>
                                        <h3>
                                            Puntos de desaf&iacute;os: {{sync.user.score.challenge}}
                                            <span data-ng-if="sync.user.score.challenge <= 15000" class="label label-danger pull-right">Murci&eacute;lago de cola libre</span>
                                            <span data-ng-if="sync.user.score.challenge > 15000 && sync.user.score.challenge <=30000" class="label label-danger pull-right">Colibr&iacute; de Ana</span>
                                            <span data-ng-if="sync.user.score.challenge > 30000 && sync.user.score.challenge <=45000" class="label label-danger pull-right">Pez Vela</span>
                                            <span data-ng-if="sync.user.score.challenge > 45000 && sync.user.score.challenge <=60000" class="label label-warning pull-right">Leopardo Cazador</span>
                                            <span data-ng-if="sync.user.score.challenge > 60000 && sync.user.score.challenge <=75000" class="label label-warning pull-right">Marlin Negro</span>
                                            <span data-ng-if="sync.user.score.challenge > 75000 && sync.user.score.challenge <=90000" class="label label-warning pull-right">Tab&aacute;nido (T&aacute;bano)</span>
                                            <span data-ng-if="sync.user.score.challenge > 90000 && sync.user.score.challenge <=105000" class="label label-info pull-right">Fregata (Fragata)</span>
                                            <span data-ng-if="sync.user.score.challenge > 105000 && sync.user.score.challenge <=120000" class="label label-info pull-right">Alcot&aacute;n Europeo</span>
                                            <span data-ng-if="sync.user.score.challenge > 120000 && sync.user.score.challenge <=135000" class="label label-success pull-right">Garganta Blanca Needletail</span>
                                            <span data-ng-if="sync.user.score.challenge > 135000" class="label label-success pull-right">Halc&oacute;n Peregrino</span>
                                        </h3>
                                        <hr>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 column">
                                        <h3>
                                            Eleg&iacute; como queres jugar...
                                        </h3>

                                        <div class="form-group">
                                            <button class="btn btn-primary btn-lg btn-block" data-ng-click="playAlone()">Solo</button>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-lg btn-block" data-ng-click="chooseFriend()">Contra un amigo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--End of HOME panel-->

                    <div class="tab-pane fade" id="panel-game" data-ng-controller="GameViewController">
                        <div class="row" data-ng-switch on="app.liveGame.play">
                            <div data-ng-switch-when="true">
                                <div class="col-xs-7 column">
                                    <h3>Puntos: {{app.liveGame.score}}</h3>
                                </div>
                                <div class="col-xs-5 column">
                                    <h3>{{app.liveGame.opponent.firstName}}: {{app.liveGame.opponent.score}}</h3>
                                </div>
                            </div>
                            <div data-ng-switch-default>
                                <div class="col-xs-12 column">
                                    <h3>Puntos {{currentGame.score}}</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 column">
                                <div class="pull-right text-warning">
                                    <p>
                                        <span class="blink">Te quedan <span class="fae-timer">{{timer}}</span> segundos!</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row fae-question-and-answers">
                            <div class="col-xs-3 col-sm-3 col-md-3 column">
                                <div class="fae-answer fae-answer-left">
                                    <p>{{currentGame.currentRound.answerLeft}}</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 column">
                                <div class="text-primary fae-question">
                                    <p>{{currentGame.currentRound.question}}</p>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 column">
                                <div class="fae-answer fae-answer-right">
                                    <p>{{currentGame.currentRound.answerRight}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="startGameModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                            ¿Listo para jugar?
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Arrastra la pregunta hacia la respuesta corecta para responder ;)</p>
                                        <img src="img/swipe.png" class="img-responsive">
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary btn-lg btn-block" data-dismiss="modal" data-ng-click="startGame()">
                                            <i class="fa fa-play-circle"></i>
                                            Jugar!
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="endGameModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            <i class="fa fa-thumbs-o-down"></i>
                                            Ups..!
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Wow, no respondiste a tiempo... ¿Y si lo intentas otra vez? {{currentGame.score==0 ? 'No ganaste ningún
                                            punto.' : 'Solo ganaste ' + currentGame.score + ' puntos!'}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-ng-click="playAgain()">
                                            <span class="glyphicon glyphicon-refresh"></span>
                                            Jugar otra vez!
                                        </button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->

                    </div>
                    <!--End of GAME panel-->

                    <div class="tab-pane fade" id="panel-choose-friend" data-ng-controller="ChooseFriendViewController">
                        <div class="row">
                            <div class="col-md-12 column">

                                <div class="row">
                                    <div class="col-md-12 column">
                                        <h2>
                                            Jugar contra un amigo
                                        </h2>
                                        <p>Eleg&iacute; un amigo</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 column">
                                        <div class="btn-group btn-group-xs pull-right">
                                            <button class="btn btn-default" type="button" data-ng-click="predicate='name'">
                                                <em class="glyphicon glyphicon glyphicon-font"></em> Nombre
                                            </button>
                                            <button class="btn btn-default" type="button" data-ng-click="predicate='-score.challenge'">
                                                <em class="glyphicon glyphicon glyphicon-signal"></em> Puntaje
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 column">
                                        <ul class="list-unstyled">
                                            <li data-ng-repeat="friend in sync.user.friends | orderBy:predicate">
                                                <button class="btn btn-block btn-primary btn-lg" data-ng-click="startGame(friend)">

                                                    <img src="http://lorempixel.com/140/140/" class="img-thumbnail"/>

                                                    {{friend.name}}

                                                    <span class="badge">{{friend.score.challenge}}</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End of CHOOSE-FRIEND panel-->
                </div>
            </div>

        </div>
    </div>
</div>


<!-- --------------------------------- -->
<!-- --------------------------------- -->
<!-- Exclusive libraries for platforms -->
<script type="text/javascript" src="cordova.js"></script>

<!-- Libraries -->
<script type="text/javascript" src="js/lib/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular/angular-touch.min.js"></script>
<script type="text/javascript" src="js/lib/firebase/firebase.js"></script>
<script type="text/javascript" src="js/lib/firebase/angularfire.min.js"></script>
<script type="text/javascript" src="js/lib/moment.min.js"></script>
<script type="text/javascript" src="js/lib/hammer/hammer.min.js"></script>
<script type="text/javascript" src="js/lib/hammer/hammer.showtouches.js"></script>
<script type="text/javascript" src="js/lib/hammer/jquery.hammer.min.js"></script>
<script type="text/javascript" src="js/lib/google-docs-simple-parser.js"></script>

<!--[if !IE]> -->
<script>
    Hammer.plugins.showTouches();
</script>
<!-- <![endif]-->

<!-- Configuration script - Here there are all important keys to set up environment variables -->
<script type="text/javascript" src="js/configuration.js"></script>

<!-- My libraries -->
<script type="text/javascript" src="js/util/storage.js"></script>
<script type="text/javascript" src="js/util/facebook.js"></script>
<script type="text/javascript" src="js/util/numbers.js"></script>

<!-------------------------AngularJS scripts-------------------------->
<!--First call directives, then controllers and finally the services-->

<!-- AngularJS starter script -->
<script type="text/javascript" src="js/app.js"></script>

<!-- AngularJS directives-->
<script type="text/javascript" src="js/directive/fae-init.js"></script>

<!-- AngularJS controllers scripts -->
<script type="text/javascript" src="js/controller/appController.js"></script>
<script type="text/javascript" src="js/controller/loginViewController.js"></script>
<script type="text/javascript" src="js/controller/homeViewController.js"></script>
<script type="text/javascript" src="js/controller/chooseFriendViewController.js"></script>
<script type="text/javascript" src="js/controller/gameViewController.js"></script>

<!-- AngularJS services scripts -->
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/service/questionService.js"></script>

</body>
</html>
