/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

h1 {
    text-align: center;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

.fae-user-name {
    float: right;
    padding: 15px;
}

.tab-pane {
    padding-top: 15px;
}

/*****************************************************************************/
/*  HOME                                                                     */
/*****************************************************************************/
#panel-home {
    padding-top: 60px;
}

/*****************************************************************************/
/*  GAME                                                                     */
/*****************************************************************************/
.fae-question, .fae-answer {
    text-align: center;
    padding: 0 0 400px 0;
}

.fae-question p, .fae-answer p {
    margin: 0;
    font-size: x-large;
}

#panel-game > div.row.fae-question-and-answers .column:nth-child(2) {
    background-color: wheat;
}

#panel-game > div.row.fae-question-and-answers .column {
    background-color: tan;
    color: white;
}

/*****************************************************************************/
/*  CHOOSE FRIEND                                                            */
/*****************************************************************************/

#panel-choose-friend .btn-group {
    margin-bottom: 10px;
}

#panel-choose-friend ul li {
    margin: 5px 0;
}

#panel-choose-friend ul li button {
    text-align: left;
    padding-left: 10px;
}

#panel-choose-friend ul li button img {
    margin-right: 5px;
    width: 20%;
}

/****************************************/
/*  Blink effect                        */
/****************************************/
@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 1500ms infinite;
    -webkit-animation: fade 1500ms infinite;
    font-size: x-large;
}